<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingyi.system.mapper.SysUserMapper">

    <insert id="addUser">
      insert into mingyibase.base_user(#{userId},#{password})

    </insert>
</mapper>